<!--Tamplate-->

<!DOCTYPE html>
<html>

	<head>
		<link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
		<link rel="manifest" href="favicon/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
	</head>

	<body id="template">
		<script type="text/javascript" src="/js/dev/less-dev.js"></script>
		
		<header class="header">
			<div class="header_container">
				<div class="logo">
					<a href="index.html">
						<img src="src/db_logo.png" title="Лого DevBand">
					</a>
				</div>
				<h1>DevBand <span>Android & Web Developers</span></h1>
				<a class="button" href="#" onclick="bodyPaddingTop()"><img src="src/more_menu.svg"></a>
			</div>

			<nav>
				<ul>
					<li>
						<a class="home" href="/index.html"><img src="src/home.svg"><span>Главная</span></a>
					</li>
					<li>
						<a class="projects" href="/projects.html"><img src="src/apps.svg"><span>Проекты</span></a>
					</li>
					<li>
						<a class="developers" href="/developers.html"><img src="src/contacts.svg"><span>Контакты</span></a>
					</li>
				</ul>
			</nav>
		</header>

		<footer>
			<p>Copyright 2016 DevBand</p>
		</footer>

		<!--

		*** Cообщение о работе на сайте ***

		-->

		<!--div class="dev_message">
		<h1>Привет!
		<br>Мы рады, что вы зашли к нам!</h1>
		<div>Но... в данный момент сайт на стадии разработки, надеемся он вам понравится 8)</div>
		</div-->

	</body>

</html>
