html {
  margin: 0;
  padding: i0;
  font-size: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  font-size: 1rem;
  background-color: #f2f2f2;
}
/*
 *
 *    HEADER
 *
*/
header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: block;
  width: 100%;
  overflow: hidden;
  margin: 0;
  color: white;
  background: #1b94d6;
  z-index: 99;
  box-sizing: border-box;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.2);
  -o-box-sh8adow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.2);
}
header:before {
  content: "/*  *header hidden  */  var body = document.body; var header = document.querySelector(\"header\"); var header_container = document.querySelector(\".header_container\"); var nav = document.querySelector(\"nav\"); var header_container_height = header_container.clientHeight;   body.style.paddingTop = header.clientHeight + \"px\"; window.addEventListener(\"scroll\", function(e) { if (nav.getBoundingClientRect().top <= 20) { header_container.classList.add(\"hidden\"); header.classList.add(\"fixed\"); } if (window.pageYOffset < header_container_height) { header_container.classList.remove(\"hidden\"); header.classList.remove(\"fixed\"); } });  /*  *Menu toggler  */  function hidden_menu(button) { //alert(); var button_menu = document.querySelectorAll('.menu.contacts'); var content = button.parentNode.querySelector('.menu.contacts'); for (var i = 0; i < button_menu.length; i++ ) { if (!button_menu[i].classList.contains(\"close\")) { button_menu[i].classList.add(\"close\"); } } content.classList.remove('close'); }  /*  *Gallery  */   var gallery = document.querySelector('.gallery > div');  var massPic = [ 'light.png', 'dark.png', 'black.png', 'material_light.png', 'material_dark.png', 'material_black.png', 'white_old.png' ];  for (var i = 0; i < massPic.length; i++) { var pic = massPic[i]; var a = document.createElement('a'); var img = document.createElement('img'); a.href = 'src/' + pic; img.src = 'src/mini-' + pic; img.alt = pic; a.appendChild(img); gallery.appendChild(a);  }  gallery.addEventListener('click', function() { //alert(event.target.parentNode.innerHTML);  }); ";
  font-family: monospace;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0.1;
  padding: 0.25rem 0.5rem;
  box-sizing: border-box;
  text-align: justify;
  font-size: 1.125rem;
  color: black;
  -webkit-box-shadow: inset 0 0 2rem #0288d1;
}
header.fixed {
  position: fixed;
}
header .header_container {
  position: relative;
  max-width: 80rem;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 2rem 1.5rem;
  white-space: nowrap;
}
@media screen and (max-width: 40rem) {
  header .header_container {
    padding: 1rem;
  }
}
header .header_container.hidden {
  display: none;
}
header .header_container .logo {
  display: inline-block;
  padding: 0.75rem;
  vertical-align: middle;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  g-ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  border: 0.25rem ridge #38b9ff;
  background: white;
  -webkit-box-shadow: 0.125rem 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0.125rem 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0.125rem 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0.125rem 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
  box-shadow: 0.125rem 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
}
header .header_container .logo a {
  display: block;
}
header .header_container .logo a img {
  display: block;
  width: auto;
  height: 2.5rem;
}
header .header_container h1 {
  display: inline-block;
  margin: 0 1rem;
  font-size: 1.75rem;
  vertical-align: middle;
}
@media screen and (max-width: 40rem) {
  header .header_container h1 {
    margin: 0 0.75rem;
  }
}
@media screen and (max-width: 20rem) {
  header .header_container h1 {
    margin: 0 0.5rem;
  }
}
header .header_container h1 span {
  display: block;
  font-weight: normal;
  font-size: 1rem;
  opacity: 0.7;
}
header .header_container .button {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  margin-top: -1.5rem;
  height: 3rem;
  line-height: 3rem;
  width: 3rem;
  text-align: center;
}
header .header_container .button img {
  display: inline-block;
  margin-bottom: -0.375rem;
  width: 1.5rem;
  height: 1.5rem;
}
header nav {
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  overflow-x: auto;
  color: white;
  background: #1283c1;
}
header nav ul {
  display: block;
  padding: 0;
  margin: 0;
  white-space: nowrap;
}
header nav ul li {
  display: inline-block;
  margin: 0 -0.125rem;
  list-style-type: none;
  opacity: 0.75;
}
@media screen and (max-width: 40rem) {
  header nav ul li {
    width: 33.33333333%;
  }
  header nav ul li a span {
    display: none;
  }
}
header nav ul li a {
  display: block;
  padding: 0.5rem 1.75rem;
  text-decoration: none;
  text-transform: uppercase;
}
header nav ul li a img {
  margin: 0 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
}
header nav ul li a span {
  vertical-align: middle;
  color: #c0e1f4;
}
header nav ul li.active {
  opacity: 1;
  background: #1b94d6;
}
header nav ul li.active a img {
  opacity: 1;
}
header nav ul li.active a span {
  color: #ffffff;
}
/*
 *
 *    MAIN (Content)
 *
*/
main {
  display: block;
  z-index: 98;
  margin: 0;
}
main article,
main section {
  display: block;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}
/* Home Page */
.home main {
  display: block;
  overflow: hidden;
  max-width: 80rem;
  margin: 0.5rem auto;
  padding: 0 1rem;
  background: white;
}
.home main article > h1 {
  font-size: 2rem;
}
.home main article > h2 {
  font-size: 1.5rem;
}
.home main article section > h1 {
  font-size: 1.5rem;
}
.home main article section > h2 {
  font-size: 1.25rem;
}
.home main article section p {
  font-size: 1rem;
  font-weight: normal;
}
.home main article section .ava {
  display: inline-block;
  margin: 0 1rem;
}
.home main article section .ava a {
  display: inline-block;
}
.home main article section .ava a img {
  display: block;
  height: 7.5rem;
  width: 7.5rem;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  border-radius: 100%;
}
.home main .gallery {
  display: none;
  overflow-x: auto;
  text-align: center;
}
.home main .gallery > div {
  white-space: nowrap;
}
.home main .gallery > div a {
  display: inline-block;
  margin: 0;
}
.home main .gallery > div a img {
  display: block;
  max-height: 15rem;
}
/* Projects Page */
.projects main {
  margin: auto;
  padding: 0;
  overflow: hidden;
  max-width: 80rem;
}
.projects main article {
  position: relative;
  overflow: hidden;
  margin: 0.5rem;
  -webkit-border-radius: 0.125rem;
  -moz-border-radius: 0.125rem;
  g-ms-border-radius: 0.125rem;
  -o-border-radius: 0.125rem;
  border-radius: 0.125rem;
  background-color: white;
  border: 1px solid #ededed;
}
.projects main article:last-child {
  border: none;
}
.projects main article .picture {
  float: left;
  margin: 0 1rem 0 0;
  text-align: center;
  background: #bfbfbf;
}
.projects main article .picture .container {
  display: inline-block;
  margin: 0 -0.3rem -0.3rem 0;
  width: 10rem;
  background: grey;
}
.projects main article .picture .container:last-child {
  margin-right: 0;
}
.projects main article .picture .container img {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
@media screen and (max-width: 40rem) {
  .projects main article .picture {
    float: none;
    margin: 0;
  }
  .projects main article .picture .container {
    margin: 0;
  }
}
.projects main article .description {
  margin: 0 1rem 5rem;
  padding: 0;
}
.projects main article .description > h1 {
  font-size: 1.25rem;
}
.projects main article .description > p {
  max-height: 6rem;
  overflow-y: auto;
  text-overflow: ellipsis;
}
.projects main article .description .members {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
.projects main article .description .members .ava {
  float: left;
}
.projects main article .description .members .ava a {
  display: inline-block;
  margin: 0 0 -0.3rem 0.5rem;
}
.projects main article .description .members .ava a img {
  display: block;
  margin: auto;
  height: 3rem;
  width: 3rem;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  border-radius: 100%;
}
/* Developers Page */
.developers article {
  margin: 0.5rem auto;
  padding: 0;
  max-width: 80rem;
  background-color: white;
}
.developers article > h1 {
  display: none;
}
.developers article section {
  display: block;
  position: relative;
  z-index: 90;
  overflow: hidden;
  margin: 0 0.5rem;
  padding: 1rem;
  border-bottom: 1px solid #ededed;
}
.developers article section:last-child {
  border: none;
}
.developers article section .ava {
  float: left;
  margin: 0 1.25rem 0 0;
}
@media screen and (max-width: 20rem) {
  .developers article section .ava {
    display: block;
    text-align: center;
    float: none;
    margin: 0 auto 0.075rem;
  }
}
.developers article section .ava a {
  display: inline-block;
}
.developers article section .ava a img {
  display: block;
  height: 5rem;
  width: 5rem;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  border-radius: 100%;
}
@media screen and (max-width: 20rem) {
  .developers article section .ava a img {
    height: 7.5rem;
    width: 7.5rem;
  }
}
.developers article section .inf {
  text-align: left;
}
@media screen and (max-width: 20rem) {
  .developers article section .inf {
    text-align: center;
  }
}
.developers article section .inf .name {
  margin: 0.5rem 0;
  font-size: 1.125rem;
}
.developers article section .inf .scills {
  margin: 0.5rem 0;
  color: #8a8a8a;
}
.developers article section .button {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  padding: 0.25rem;
  cursor: pointer;
}
.developers article section .button img[src*="menu.svg"] {
  display: block;
  margin: auto;
  width: 1.5rem;
  height: 1.5rem;
}
.developers article section .menu.contacts {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 3rem;
  opacity: 0.95;
  margin: 0;
  padding: 1rem 0;
  text-align: center;
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  -ms-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  border-radius: 0;
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
  transform: translate(0);
  background: white;
}
.developers article section .menu.contacts.close {
  opacity: 0;
  -webkit-transform: translate(150%, -50%);
  -moz-transform: translate(150%, -50%);
  -ms-transform: translate(150%, -50%);
  -o-transform: translate(150%, -50%);
  transform: translate(150%, -50%);
  border-radius: 100%;
}
@media screen and (max-width: 20rem) {
  .developers article section .menu.contacts {
    text-align: center;
    overflow-x: visible;
  }
}
.developers article section .menu.contacts li {
  display: inline-block;
  position: relativve;
  list-style-type: none;
}
.developers article section .menu.contacts li a {
  margin-bottom: 0.0625rem;
  display: block;
  padding: 0.25rem 1rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #1782bc !important;
}
/*
 *
 *    FOOTER
 *
*/
footer {
  overflow: hidden;
  padding: 2rem;
  text-align: center;
  color: grey;
}
footer p {
  padding: 0;
  margin: 0;
}
/*
* Сообщение о работе на сайте
*/
.dev_message {
  width: 35rem;
  max-width: 90%;
  margin: auto;
  overflow: hidden;
  text-align: center;
  box-sizing: border-box;
  border-radius: 0.125rem;
  background-color: white;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.2);
  -o-box-sh8adow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.2);
}
.dev_message > h1 {
  margin: 1.5rem;
}
.dev_message > div {
  margin: 1.5rem;
  color: grey;
}
