// Light
			@tx: black; @bg: white;
// Dark
//			@tx: white; @bg: black;

@rem: 0.0625rem;
@tmColor: #0288d1;
@width_tab_large: 80rem;
@width_tab_small: 60rem;
@width_mob_large: 40rem;
@width_mob_small: 20rem;

.Radius(@radius: 0.125rem) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	-ms-border-radius: @radius;
	-o-border-radius: @radius;
	border-radius: @radius;
}
.vendors(@a,@b) {
	-webkit-@{a}: @b;
	-moz-@{a}: @b;
	-ms-@{a}: @b;
	-o-@{a}: @b;
	@{a}: @b;
}
.BoxShadow(@level: 1) {
	.vendors_shadow(@1,@2) {
		-webkit-box-shadow: @1,@2;
		-moz-box-shadow: @1,@2;
		-ms-box-shadow: @1,@2;
		-o-box-sh8adow: @1,@2;
		box-shadow: @1,@2;
	}
	& when (@level = 0) { .vendors_shadow(none,none); }
	& when (@level = 1) { .vendors_shadow(0 1px 3px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.2)) }
	& when (@level = 2) { .vendors_shadow(0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.2))}
	& when (@level = 3) { .vendors_shadow(0 10px 20px rgba(0,0,0,0.2), 0 6px 6px rgba(0,0,0,0.2))}
	& when (@level = 4) { .vendors_shadow(0 14px 28px rgba(0,0,0,0.2), 0 10px 10px rgba(0,0,0,0.2))}
	& when (@level = 5) { .vendors_shadow(0 19px 38px rgba(0,0,0,0.3), 0 15px 12px rgba(0,0,0,0.2))}
}

html {
	margin: 0;
	padding: 0;
	font-size: 100%;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto';
	font-size: 1rem;
	line-height: 1.25;
	background-color: mix(@tx,@bg,5%);
}

/*
 *
 *    PROGRESSBAR 
 *
*/

body { 
	.progressbar {
		display: none;
		z-index: 99999;
		position: fixed;
		top: 50%;
		width: 100%;
		text-align: center;
		background: mix(@tx,@bg,5%);
		span {
			&:before {
				content:'Loading...';
				display: inline-block;
				margin-top: -0.75rem;
				font-size: 1.5rem;
//				font-weight: bold;
				color: mix(@bg,@tx,50%);
			}
		}
	}
	&.load {
		.progressbar {
			display: block;
		}
		header,
		main,
		footer,
		.comments,
		#disqus_thread {
			display: none !important;
		}
	}
}

/*
 *
 *    HEADER
 *
*/

header.header {
	position: absolute;
	top: 0; right: 0; left: 0;
	display: block;
	width: 100%;
	overflow: hidden;
	margin: 0;
	color: white;
	background: mix(@bg, @tmColor,10%);
	z-index: 999;
	box-sizing: border-box;
	.BoxShadow(2);
	&:before { // фон шапки
		content:"/*  *header hidden  */  var body = document.body; var header = document.querySelector(\"header\"); var header_container = document.querySelector(\".header_container\"); var nav = document.querySelector(\"nav\"); var header_container_height = header_container.clientHeight;   body.style.paddingTop = header.clientHeight + \"px\"; window.addEventListener(\"scroll\", function(e) { if (nav.getBoundingClientRect().top <= 20) { header_container.classList.add(\"hidden\"); header.classList.add(\"fixed\"); } if (window.pageYOffset < header_container_height) { header_container.classList.remove(\"hidden\"); header.classList.remove(\"fixed\"); } });  /*  *Menu toggler  */  function hidden_menu(button) { //alert(); var button_menu = document.querySelectorAll('.menu.contacts'); var content = button.parentNode.querySelector('.menu.contacts'); for (var i = 0; i < button_menu.length; i++ ) { if (!button_menu[i].classList.contains(\"close\")) { button_menu[i].classList.add(\"close\"); } } content.classList.remove('close'); }  /*  *Gallery  */   var gallery = document.querySelector('.gallery > div');  var massPic = [ 'light.png', 'dark.png', 'black.png', 'material_light.png', 'material_dark.png', 'material_black.png', 'white_old.png' ];  for (var i = 0; i < massPic.length; i++) { var pic = massPic[i]; var a = document.createElement('a'); var img = document.createElement('img'); a.href = 'src/' + pic; img.src = 'src/mini-' + pic; img.alt = pic; a.appendChild(img); gallery.appendChild(a);  }  gallery.addEventListener('click', function() { //alert(event.target.parentNode.innerHTML);  }); ";
		font-family: monospace;
		display: block;
		position: absolute;
		top: 0; top: 0; right: 0; bottom: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		opacity: 0.1;
		padding: 0.25rem 0.5rem;
		box-sizing: border-box;
		text-align: justify;
		font-size: 1.125rem;
		color: @tx;
		-webkit-box-shadow: inset 0 0 2rem @tmColor;
	}
	&.fixed { position: fixed; }
	.header_container {
		position: relative;
		max-width: @width_tab_large;
		box-sizing: border-box;
		margin: 0 auto;
		padding: 2rem 1.5rem;
		white-space: nowrap;
		@media screen {
			@media (max-width: @width_mob_large) {
				padding: 1rem;
			}
		}
		&.hidden {
			display: none;
		}
		.logo {
			display: inline-block;
			vertical-align: middle;
			.Radius(100%);
			border: 0.25rem ridge saturate(@tmColor + 50%, 70%);
			background: @bg;
			.vendors(box-shadow,0.125rem 0.25rem 0.5rem rgba(0,0,0,0.15));
			a {
				display: block;
				padding: 0.75rem;
				img {
					display: block;
					width: auto;
					height: 2.5rem;
				}
			}
		}
		h1 {
			display: inline-block;
			margin: 0 1rem;
			font-size: 1.75rem;
			vertical-align: middle;
			@media screen {
				@media (max-width: @width_mob_large) {
					margin: 0 0.75rem;
				}
				@media (max-width: @width_mob_small) {
					margin: 0 0.5rem;
				}
			}
			span {
				display: block;
				font-weight: normal;
				font-size: 1rem;
				opacity: 0.7;
			}
		}
		.button {
			position: absolute;
			top: 50%;
			right: 0.5rem;
			margin-top: -1.5rem;
			height: 3rem;
			line-height: 3rem;
			width: 3rem;
			text-align: center;
			img {
				display: block;
				margin: auto;
				position: relative;
				width: 1.5rem;
				height:1.5rem;
				bottom: -11*@rem;
			}
		}
	}
	nav {
		margin: 0;
		overflow-x: auto;
		box-sizing: border-box;
		white-space: nowrap;
		color: white;
		background: desaturate(@tmColor,15%);
		ul {
			display: block;
			padding: 0;
			margin: 0;
			text-align: center;
			li {
				display: inline-block;
				margin: 0 -0.125rem;
				list-style-type: none;
				opacity: 0.75;
				@media screen {
					@media (max-width: @width_mob_large) {
						width: 100% / 3;
						a {
							span { display: none; }
						}	
					}
				}
				a {
					display: block;
					padding: 0.5rem 1.75rem;
					text-decoration: none;
					text-transform: uppercase;
					img {
						margin: 0 0.5rem;
						width: 1.5rem;
						height:1.5rem;
						vertical-align: middle;
					}
					span {
						vertical-align: middle;
						color: mix(@tmColor, white, 25%);
					}
				}
				&.active {
					opacity: 1;
					background: mix(@bg, @tmColor,10%);
					a {
						img { opacity: 1; }
						span { color: rgba(255,255,255,1); }
					}
				}
			}
		}
		.button {
			display: inline-block;
			vertical-align: middle;
			margin: 0;
			padding: 0;
			background: inherit;
			a {
				display: inline-block;
				padding: 1rem 1.25rem;
				margin-bottom: -0.25rem;
				img {
					display: block;
					margin: 0 auto;
					width: 1.5rem;
					height: 1.5rem;
				}
			}
		}
		.title {
			display: inline-block;
			vertical-align: middle;
			margin: 0;
			font-weight: bold;
		}
	}
}

/*
 *
 *    MAIN (Content)
 *
*/

main {
	display: block;
	z-index: 98;
	margin: 0;
	article,
	section,
	footer {
		display: block;
		font-size: 1rem;
		margin: 0;
		padding: 0;
	}
}

/* Home Page */

#home {
	main {
		display: block;
		max-width: @width_tab_large;
		margin: 0 auto;
		article {
			overflow: hidden;
			margin: 0.5rem;
			padding: 0 1rem;
			.Radius;
			background: @bg;
			> h1 {
				font-size: 2rem;
			}
			> h2 {
				font-size: 1.5rem;
			}
			section {
				> h1 {
					font-size: 1.5rem;
				}
				> h2 {
					font-size: 1.25rem;
				}
				p {
					font-size: 1rem;
					font-weight: normal;
				}
				.ava {
					display: inline-block;
					margin: 0 1rem;
					a {
						dispaly: inline-block;
						img {
							display: block;
							height: 7.5rem;
							width: 7.5rem;
							max-height: 100%;
							max-width: 100%;
							overflow: hidden;
							border-radius: 100%;
						}
					}
				}
			}
		}

// off

		.gallery {
			display: none;
			overflow-x: auto;
			text-align: center;
			> div {
				white-space: nowrap;
				a {
					display: inline-block;
					margin: 0;
					img {
						display: block;
						max-height: 15rem;
					}
				}
			}
		}
	}
}

/* Projects Page */

#projects {
	main {
		margin: auto;
		padding: 0;
		overflow: hidden;
		max-width: @width_tab_large;
		article {
			position: relative;
			overflow: hidden;
			min-height: 20rem;
			margin: 0.5rem;
			.Radius;
			background-color: white;
			border: 1px solid mix(@tx,@bg,7%);
//			.BoxShadow;
			&:last-child {
				border: none;
			}
			.picture {
				position: relative;
				float: left;
				width: 20rem;
				height: 20rem;
				overflow: hidden;
				margin: 0 1rem 0 0;
				text-align: center;
				background: mix(@bg,@tx,75%);
				&:before {
					content:'';
					display: inline-block;
					height: 100%;
					vertical-align: middle;
				}
				.container {
					display: inline-block;
					vertical-align: middle;
					img {
						display: block;
						margin: auto;
						max-width: 100%;
						max-height: 100%;
					}
				}
				@media screen {
					@media (max-width: @width_mob_large) {
						float: none;
						margin: 0;
						width: auto;
						height: 15rem;
						.container {
							
						}
					}
				}
			}
			.description {
				margin: 0 1rem 5rem;
				padding: 0;
				> h1 {
					font-size: 1.25rem;
				}
				> p {
					position: relative;
					max-height: 6.25rem;
					overflow: hidden;
					&:after {
						content:'';
						display: inline-block;
						position: absolute;
						bottom: 0;
						right: 0;
						width: 5rem;
						height: 1rem;
						background: -webkit-linear-gradient(left, transparent 0%, @bg 50%);
					}
				}
				.footer {
					display: block;
					position: absolute;
					bottom: 0;
					left: 20rem;
					right: 0;
					box-sizing: border-box;
					padding: 0 1rem;
					margin: 0 0 1rem;
					.buttons {
						float: left;
						width: 3rem;
						line-height: 3rem;
						a {
							display: inline-block;
							padding: 0 0.5rem;
							text-decoration: none;
							text-transform: uppercase;
							color: @tmColor;
						}
					}
					.members {
						.ava {
							float: right;
							margin: 0 0 0 0.5rem;
							img {
								display: block;
								margin: auto;
								height: 3rem;
								width: 3rem;
								max-height: 100%;
								max-width: 100%;
								overflow: hidden;
								border-radius: 100%;
							}
						}
					}
				}
				@media screen {
					@media (max-width: @width_mob_large) {
						margin-bottom: 0;
						> p {
							max-height: auto;
						}
						.footer {
							position: relative;
							left: 0;
							overflow: hidden;
							padding: 0;
						}
					}
				}
			}
		}
	}
}

/* Developers Page */

#developers {
	article {
		margin: 0.5rem auto;
		padding: 0;
		max-width: @width_tab_large;
		background-color: white;
		> h1 { display: none; }
		section {
			display: block;
			position: relative;
			z-index: 90;
			overflow: hidden;
			margin: 0 0.5rem;
			padding: 1rem;
			border-bottom: 1px solid mix(@tx,@bg,7%);
			&:last-child {
				border: none;
			}
			.ava {
				float: left;
				margin: 0 1.25rem 0 0;
				@media screen and (max-width: @width_mob_small) {
					display: block;
					text-align: center;
					float: none;
					margin: 0 auto 0.075rem;
				}
				a {
					display: inline-block;
					img {
						display: block;
						height: 5rem;
						width: 5rem;
						max-height: 100%;
						max-width: 100%;
						overflow: hidden;
						border-radius: 100%;
						@media screen and (max-width: @width_mob_small) {
							height: 7.5rem;
							width: 7.5rem;
						}
					}
				}
			}
			.inf {
				text-align: left;
				@media screen and (max-width: @width_mob_small) {
					text-align: center;
				}
				.name {
					margin: 0.5rem 0;
					font-size: 1.125rem;
				}
				.scills {
					margin: 0.5rem 0;
					color: rgb(138,138,138);
				}
			}
			.button {
				position: absolute;
				right: 0.5rem;
				top: 0.5rem;
				padding: 0.25rem;
				cursor: pointer;
				img[src*="menu.svg"] {
					display: block;
					margin: auto;
					width: 1.5rem;
					height: 1.5rem;
				}
			}
			.menu.contacts {
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 3rem;
				opacity: 0.95;
				margin: 0;
				padding: 1rem 0;
				text-align: center;
				.vendors(transition, 0.5s ease-out);
				border-radius: 0;
				.vendors(transform, translate(0));
				background: @bg;
				&.close {
					opacity: 0;
					.vendors(transform, translate(150%,-50%));
					border-radius: 100%;
				}
				@media screen and (max-width: @width_mob_small) {
					text-align: center;
					overflow-x: visible;
				}
				li {
					display: inline-block;
					position: relativve;
					list-style-type: none;
					a {
						margin-bottom: 0.0625rem;
						display: block;
						padding: 0.25rem 1rem;
						font-weight: bold;
						text-decoration: none;
						text-transform: uppercase;
						color: desaturate(mix(@tmColor, white, 100%),20%) !important;
//						color: Black;
					}
				}
			}
		}
	}
}

/*
 *		Full description
 */

#full_description {
	navi {
		text-align: left;
	}
	main {
		margin: auto;
		padding: 0;
		overflow: hidden;
		max-width: @width_tab_large;
		article {
			&:extend(#projects main article all);
			min-height: auto;
		}
	}
}

/*
*
*		Gallery
*
*/

.gallery {
	display: block;
	overflow-x: auto;
	white-space: nowrap;
	a {
		display: inline-block;
		img {
			display: block;
			margin: auto;
			max-height: 100vh;
			max-width: 100vw;
		}
	}
}

/*
 *
 *		FOOTER
 *
*/

footer {
	overflow: hidden;
	padding: 2rem;
	text-align: center;
	color: grey;
	p {
		padding: 0;
		margin: 0;
	}
}

/*
* Сообщение о работе на сайте
*/

.dev_message {
	width: 35rem;
	max-width: 90%;
	margin: auto;
	overflow: hidden;
	text-align: center;
	box-sizing: border-box;
	border-radius: 0.125rem;
	background-color: white;
	.BoxShadow(3);
	> h1 {
		margin: 1.5rem;
	}
	> div {
		margin: 1.5rem;
		color: grey;
	}
}

/*
 *		Comments by Disqus
 */

.comments {
	display: block;
	margin: auto;
	max-width: @width_tab_large;
	.title {
		text-align: center;
		color: grey;
		h2 {
			margin: 1rem;
		}
		a[href="#disqus_thread"] {
			margin: 1rem;
			text-decoration: none;
			color: @tx;
		}
	}
	#disqus_thread {
		margin: 1rem 0.5rem;
		padding: 1rem;
		background: @bg;
		a {
			color: @tmColor;
		}
		.show_comment {
			text-align: center;
			&.hide {
				display: none;
			}
			span {
				text-transform: uppercase;
				font-weight: bold;
				color: @tmColor;
			}
		}
	}
}


